/*CENTER DIV WITHOUT DIV*/
.outer{
    float: right;
    right: 50%;
    position: relative;
}

.inner{
    float: right;
    right: -50%;
    position: relative;
}

.clear {
    clear: both;
}

/*IMAGE*/
.image {
    margin: 10px auto;
    max-width:800px;
    padding: 10px;
    background-color:white;
    box-shadow: 0px 1px 5px #434141;
}

/*ADD COMMENTS*/
textarea {	
    font-size:14px;	
    font-family: sans-serif;		
    border:2px solid #0D98BA;			
}

textarea:focus {
    border:2px solid #e8c291;    
}

.comment 
{
  border-top:solid white 1px;
  background: #edeff4;
  padding:5px;
  max-width:800px;
  word-wrap: break-word;
}

.comment img {
  width:40px;
}

.commenter 
{
    margin-right:10px;
    display:inline-block;
    font-weight:bold;
    font-size:13px;
}

/*PLACEHOLDER COLOR*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:  #888;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  #888;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:  #888;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:  #888;
}

/*MAIN CONTENT*/
.content {
    background-color:rgba(0, 0, 0, 0.05);
    width:900px;
    min-height:800px;
    margin:0 auto;
}

.content a:visited, .content a:link{
    color: #0D98BA;
    text-decoration:none;
}

.content a:hover {
    color: rgb(151, 186, 195);
}

/*BUTTONS*/
.buttons .uploadButton{
    bottom:0;
    margin:0;
}

.comments .uploadButton {
    bottom:0;
    margin:0;
    margin-top:10px;
}

.buttons {
    margin-bottom:20px;
}
