/*CENTER DIV WITHOUT WIDTH*/
.outer{
    float: right;
    right: 50%;
    position: relative;
}

.inner{
    float: right;
    right: -50%;
    position: relative;
}

.clear {
    clear: both;
}

/*IMAGE*/
.image {
    margin: 10px auto;
    max-width:800px;
    padding: 10px;
    background-color:white;
    box-shadow: 0px 1px 5px #434141;
}

.img-desc {
    -ms-word-break: break-all;
    word-wrap: break-word;
    display: block !important;
    max-width: 510px;
    font-size: 16px;
    width: 510px;
    margin: 0 auto;
}

.img-title {
   font-size:22px;
  -ms-word-break: break-all;
  word-wrap:break-word;
  display:block;
  max-width:800px;
  font-weight:bold;
}

.img-user {
    font-size:14px;
    font-style:italic;
}

/*ADD COMMENTS*/
.updateBox, textarea {	
    font-size:14px;	
    font-family: sans-serif;		
    border:2px solid #0D98BA;			
}

.updateBox:focus, textarea:focus {
    border:2px solid #e8c291;    
}

.comment 
{
  border-top:solid white 1px;
  background: #edeff4;
  padding:5px;
  display: table;
  max-width:800px;
  min-height:50px;
  width:510px;
  max-width:510px;
  min-width:510px;
}

.comments{
  width:510px;
  max-width:510px;
  margin:0 auto;
}

.comment-box {
  width:510px;
  max-width:510px;
}

.comment .pro-image {
  max-width:50px;
  width:50px;
  display: table-cell;
}

.comment .pro-image img{
  width:40px;
}

.comm-cont {
  -ms-word-break: break-all;
  word-wrap:break-word;
  display: table-cell;
  vertical-align: top;
  width:460px;
  max-width:460px;
  min-width:460px;
}

.commenter 
{
  margin-right:10px;
  font-weight:bold;
  font-size:13px;
}

.message {
    font-size:16px;
}

/*PLACEHOLDER COLOR*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:  #888;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  #888;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:  #888;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:  #888;
}

/*MAIN CONTENT*/
.content {
    background-color:rgba(0, 0, 0, 0.1);
    width:900px;
    min-height:800px;
    margin:0 auto;
}

.content a:visited, .content a:link{
    color: #0D98BA;
    text-decoration:none;
}

.content a:hover {
    color: rgb(151, 186, 195);
}

/*BUTTONS*/
.buttons .uploadButton{
    bottom:0;
    margin:0;
    height:33px;
}

.comments .uploadButton {
    bottom:0;
    margin:0;
    margin-top:10px;
}

.buttons {
    width:550px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    padding-left:20px;
    white-space:nowrap;
}

.buttonGroup {
    display:block;
}

.updateButton {
    background: white;
    padding: 3px;
    min-width: 50px;
    float:left;
    margin-right:5px;
    margin-bottom:10px;
}

a.updateButton {
   text-align:center;
   font-size:14px;
   color:white !important;
}

.submitButton {		
  background-color: #d14545;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
  background-image: -webkit-linear-gradient(top, #e97171, #d14545);
  background-image: -moz-linear-gradient(top, #e97171, #d14545);
  background-image: -ms-linear-gradient(top, #e97171, #d14545);
  background-image: -o-linear-gradient(top, #e97171, #d14545);
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  cursor: pointer;
  color: #fff;
}

.submitButton:hover,
.submitButton:focus {		
  background-color: #e97171;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
  background-image: -webkit-linear-gradient(top, #d14545, #e97171);
  background-image: -moz-linear-gradient(top, #d14545, #e97171);
  background-image: -ms-linear-gradient(top, #d14545, #e97171);
  background-image: -o-linear-gradient(top, #d14545, #e97171);
  background-image: linear-gradient(top, #d14545, #e97171);
}	

.submitButton:active {		
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.submitButton::-moz-focus-inner {
  border: none;
}

/*DATE*/
.date {
    float:right;
    font-size:12px;
    font-style:italic;
    color:#5e5e5e;
}

/*ERROR*/
.error {
  text-align:center;
  margin:0px auto;
  color: #d14545;
  font-size:15px;
  display:block;
  position:relative;
  bottom:10px;
}

#lightbox {
    position: fixed;
    /* keeps the lightbox window in the current viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index:9999;
}

#lightbox #content{
    position:relative;
    top:40%;
    width:300px;
    padding:20px;
    margin:0 auto;
    border:2px dashed #d14545;
    background-color:white;
    z-index:9999;
}

