@font-face {
    font-family: 'BebasRegular';
    src: url('/resources/fonts/BEBAS___-webfont.eot');
    src: url('/resources/fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/BEBAS___-webfont.woff') format('woff'),
         url('/resources/fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('/resources/fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansRegular';
    src: url('/resources/fonts/PTS55F-webfont.eot');
    src: url('/resources/fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/PTS55F-webfont.woff') format('woff'),
         url('/resources/fonts/PTS55F-webfont.ttf') format('truetype'),
         url('/resources/fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
    font-family: BebasRegular;
    word-spacing: 10px;
}

html, body {
    font-family: PTSansRegular;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background:url("/resources/noisy-texture.png") repeat;
}

form {
  height:100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

/*For IE9 */
.placeholder { color: rgba(0, 0, 0, 0.3); }

/*MAIN HEADER*/
#header{
    background:url("/resources/noisy-texture.png") repeat;
    position:relative;
    background-color:#f3f3f3;
    box-shadow:0px 1px 5px #888;
    height:60px;
}
/*LOGO*/
#logo {
    margin-left:50px;
}
#logo img{
    border-style:none;
}
/*SEARCH BOX*/
#searchPanel {
    display:inline;
}
#searchBox {
    position:absolute;
    margin:20px 20px;
    width:100px;
    height:20px;
    padding:2px;
    border:1px solid;
    border-radius:10px;
    -moz-border-radius:25px; /* Old Firefox */
    background:url("/resources/find.png") no-repeat;
    background-color:white;
    color:gray;
    outline:none;
}
#searchBox:focus{
    background:none;
    background-color:white;
    color:black;
    border-color:#0D98BA;
}
/*LOGIN-REGISTER*/
#loginMenu {
    position:relative;
    display:block;
    float:right;
    margin:20px 50px;
}
#loginMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;    
}
#loginMenu li {
  float: left;
}

#login {
  border-right: 1px solid #ddd;
  -moz-box-shadow: 1px 0 0 #fff;
  -webkit-box-shadow: 1px 0 0 #fff;
  box-shadow: 1px 0 0 #fff;  
}

#login a,
#signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color:#0D98BA;      
  text-shadow: 0 1px 0 #fff; 
}

#signup  a {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

#login a {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
   border-radius: 3px 0 0 3px;
}

#login a:hover,
#signup a:hover {
  background: #fff;
}

/*UPLOAD BUTTON*/
.uploadButton {
    position:relative;
    bottom:18px;
    margin-left:50px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#f9f9f9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 11px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
    cursor:pointer;
}.uploadButton:hover {
	background-color:#e6e6e6;
}
.uploadButton:active {
    position: relative;
}

/*FOOTER*/
.footer, .push {
  height: 40px;
}

.footer {
  color: white;
  font-size: 12px;
  background-color:#0D98BA;
  text-align:right;
  background-image:url("/resources/noisy-texture.png");
}

.footer a:link, .footer a:visited {
    color:white;
    text-decoration:none;
    font-size:12px;
    line-height:20px;
}

.footer a:hover {
    color:#d14545;
}

.foot {
    text-align:center;
    width:300px;
    margin:0 auto;
}
