/*SEARCH CONTENT*/
.search-results {
    border: 1px solid #0D98BA;
    border-radius: 2px 2px 2px 2px;
}

.search-results img{
    box-shadow: 0px 1px 3px #434141;
    margin: 2px 3px 3px 2px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
}

/*OPTIONS-MENU*/
#options-menu {
    width: 500px;
    height: 40px;
    border: 1px solid rgb(13, 152, 186);
    background: none repeat scroll 0% 0% rgb(238, 238, 238);
    border-radius: 2px 2px 2px 2px;
    padding: 4px;
    margin: 20px auto 40px auto;
}

#options-menu ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

#options-menu ul li {
    height: 30px;
    list-style: none outside none;
    display: inline-block;
    width: 160px;
    border: 1px solid rgb(204, 204, 204);
    background: none repeat scroll 0% 0% rgb(243, 243, 243);
}

#options-menu ul li a{
    color: black;
    text-decoration: none;
    line-height: 30px;
    width:100%;
    display: inline-block;
}

#options-menu ul li:hover, li:active{
     background: white;
}

.activated a {
     background: white;
     color: #0D98BA !important;
}

#options-menu ul li:hover, li:active a{
     color: #0D98BA;
}

.num-result {
    color: #d14545;
}
