/*SEARCH CONTENT*/
#search-content {
    width:100%;
    height:100%;
    margin:50px auto;
}
#side {
    width:220px;
    float:left;
}
.search-results {
    position: relative;
    margin-left: 240px;
}
.search-results img{
    margin-left:20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color:white;
    box-shadow: 0px 1px 3px #434141;
}
.numresult {
   position:relative;
   top:20px;
   left:60px;
}
/*OPTIONS-MENU*/
#options-menu {
    width: 150px;
    height: 100px;
    margin-left:50px;
    border: 1px solid #0D98BA;
    background: rgb(238, 238, 238);
    border-radius: 2px 2px 2px 2px;
    padding: 4px;
}

#options-menu ul {
  margin:0;
  background: #f3f3f3;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #ccc;
  text-align:center;
  padding:0px;
}

#options-menu ul li {
    height:30px;
    width:100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    list-style: none outside none;
}

#options-menu ul li a{
    color:black;
    text-decoration: none;
    margin-top:6px;
    height:30px;
    width:100%;
    display:inline-block;
}

#options-menu ul li:hover, li:active{
     background: white;
}

.activated {
     background: white;
}
.activated a {
     color: #0D98BA !important;
}

#options-menu ul li:hover, li:active a{
     color: #0D98BA;
}
