.outer{
    margin-top:30px;
    margin-bottom:20px;
    float: right;
    right: 50%;
    position: relative;
}

.inner{
    float: right;
    right: -50%;
    position: relative;
}

.left {
    position: relative;
    left: 35%;
    float: left;
    width: 50%;
}

#pnlCrop {
    width: 800px;
    margin: 0 auto;
}

.right {
    position: relative;
    right: 0%;
    float: right;
    width: 50%;
}

.radioButton {
    float: left;
}

.left .uploadButton {
    font-family: PTSansRegular;
    bottom: 0;
    margin-top: 0;
    margin-left: 25px;
}

.right .uploadButton {
    font-family: PTSansRegular;
    bottom: 0;
    margin-top: 0;
    margin-left: 20px;
}

.useLabel {
    line-height: 40px;
}

#cropPanelButtons {
    height:40px;
    width:260px;
    margin:0 auto;
    margin-bottom:30px;
}

.profile-image {
    width: 200px;
    height: 200px;
}

.avatarError {
    margin-bottom: 5px;
    color: #d14545;
    font-size: 13px;
}

.submitButton {
    background-color: #d14545;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
    background-image: -webkit-linear-gradient(top, #e97171, #d14545);
    background-image: -moz-linear-gradient(top, #e97171, #d14545);
    background-image: -ms-linear-gradient(top, #e97171, #d14545);
    background-image: -o-linear-gradient(top, #e97171, #d14545);
    background-image: linear-gradient(top, #e97171, #d14545);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #7e1515;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 30px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    color: #fff;
}

    .submitButton:hover,
    .submitButton:focus {
        background-color: #e97171;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
        background-image: -webkit-linear-gradient(top, #d14545, #e97171);
        background-image: -moz-linear-gradient(top, #d14545, #e97171);
        background-image: -ms-linear-gradient(top, #d14545, #e97171);
        background-image: -o-linear-gradient(top, #d14545, #e97171);
        background-image: linear-gradient(top, #d14545, #e97171);
    }

    .submitButton:active {
        outline: none;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    }

    .submitButton::-moz-focus-inner {
        border: none;
    }

#lightbox {
    position: fixed;
    /* keeps the lightbox window in the current viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index:9999;
}

#lightbox #content{
    position:relative;
    top:40%;
    width:300px;
    padding:20px;
    margin:0 auto;
    border:2px dashed #d14545;
    background-color:white;
    z-index:9999;
}
