.centerPage {
    margin: 0 auto;
    width: 70%;
    position: relative;
    background: #fff;
}

.userBio {
    background: #0094ff;
    height: 400px;
}

.avatar {
    top: 50px;
    left: 50px;
    position: relative;
    height: 200px;
    width: 200px;
}

.username {
    position: relative;
    top: -150px;
    left: 300px;
    width: 150px;
}

.aboutme {
    position: relative;
    top: -121px;
    left: 300px;
    height: 300px;
    width: 60%;
}
